/* .form-visualizar
 {
    width: 1000px;
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: block;
}
.visualizar
 {
    width: auto;
    height: auto;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    display: block;
}
.form-title-visualizar
 {
    padding: 40px 35px;
    width: 400px;
    height: 10px;
    font-size: 32px;
}
.form-fields-visualizar
 {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;   
}
table {
    margin-top: 10px;
    width: 970px;
    padding: 10px 10px 10px 10px;
} */

th {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

td {
    font-size: 20px;
    padding: 10px;        
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
    font-size: 16px;
}


table {
    margin-top: 10px;
    width: 1200px;
    padding: 10px 10px 10px 10px;
    
}

.visualizar
 {
    width: auto;
    height: auto;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    display: block;
}

.form-visualizar
 {
    width: 1200px;
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: block;
}

.form-title-visualizar
 {
    padding: 40px 35px;
    width: 400px;
    height: 10px;
    font-size: 32px;
}

.input-visualizar
 {
    border: 1px solid  #ccc;
    border-radius: 6px;
    height: 35px;
    width: 380px;
    font-size: 18px;
    padding: 2px;
    background-color: rgb(248, 251, 255);
}

.form-fields-visualizar
 {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;   
}

.end-visualizar
 {
    margin-top: auto;
    width: 530px;
    height: 10px;
    display: block;
}

.button-visualizar
 {
    margin: 15px 100px 0px 110px;
    display: block;
}

.button-deferir-indeferir
{
    width: auto;
    height: 40px;
    background-color: rgb(76, 128, 218);
    border: 1px solid rgb(57, 113, 211);
    border-radius: 7px;
    color: white;
    font-size: 20px;
}

.button-deferir-indeferir:hover {
    cursor: pointer;
}








/* Pop-up */


.modal{
    border: 1px solid  #ccc;
    background-color: #fbf9ff;
    width:500px;
    height:420px;
    margin: auto;
    text-align: center;
    /* display: block; */
    display: none;
    position: fixed;
    left: 31.5%;
    top: 20%;
}


.modal-title {

    float: left;
    margin-left: 6%;
    font-size: 32px;
    margin-top: 20px;
}

.modal-content {
    display: inline-block;
    /* background-color: #300e74; */
    width:415px;
    height:225px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #ccc;
    text-align: left;
}

.modal-input {
    font-family: Verdana;
    height: 245px;
    width: 400px;

    font-size: 20px;
    margin-top: 20px;
    border: 1px solid  #ccc;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

textarea {
    overflow: auto;
}


.modal-buttom {
    height: 50px;
    width: 88.7%;
    margin: auto;
    margin-top: 15px;
}

.modal-radio {
    /* background-color: blue; */
    width: 100%;
    /* height: 30px; */
    padding: 10px 0px 10px 30px;
}

.modal-radio label{
    float: left;
}

.justificativa-radio {
    float: left;
}

.justificativa-submit {
    width: 100px;
    float: right;
    height: 45px;
    background-color: rgb(76, 128, 218);
    border: 1px solid rgb(57, 113, 211);
    border-radius: 7px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.justificativa-submit:hover {
    cursor: pointer;
}

.justificativa-fechar {
    width: 100px;
    float: right;
    height: 41px;
    text-align: center;
    background-color: rgb(121, 132, 151);
    border: 1px solid rgb(106, 114, 128);
    border-radius: 7px;
    color: white;
    font-size: 20px;
}

.justificativa-fechar:hover {
    cursor: pointer;
}
