.form-visualizar
 {
    width: 1000px;
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: block;
}
.visualizar
 {
    width: auto;
    height: auto;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    display: block;
}
.form-title-visualizar
 {
    padding: 40px 35px;
    width: 400px;
    height: 10px;
    font-size: 32px;
}
.form-fields-visualizar
 {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;   
}
table {
    margin-top: 10px;
    width: 970px;
    padding: 10px 10px 10px 10px;
}