.painel {
    width: 1050px;
    height: 400px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    font-size: large;

    /* background-color: aqua; */
}

.aba_header {
    /* background-color: brown; */
    width: 100%;
    height: 40px;
}

.aba_content {
    background-color: rgb(230, 230, 230);
    width: 99.4%;
    height: 400px;
    margin: auto;
    margin-top: 1px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgb(184, 184, 184);
    display: none;
}

.aba {
    background-color: rgb(241, 241, 241);
    height: 40px;
    width: 24.3%;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    line-height: 40px;
    border: 1px solid rgb(184, 184, 184);
}

.aba:hover {
    cursor: pointer;
    border: 1px solid rgb(199, 199, 233);

}

#aba_active {
    background-color: rgb(199, 199, 233);
}

#active {
    display: block;
}

/* Drop down */

.aba_options {
    display: none;
    /* margin-top: 4px; */
    position: absolute;
    background-color:  rgb(240, 241, 243);
    width: 526px;
    height: 150px;
    padding: 5px;
    line-height: 36px;
    /* border-radius: 0px 0px 6px 6px; */
    border-radius: 6px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid  #ccc;
}

.aba_options ul {
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    border-radius: 6px;
}

.aba_options ul li:hover {
    border-radius: 6px;
    background-color:  rgb(206, 217, 240);
    color: black;

}

input[type=checkbox] {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

li {
    cursor: default;
}

label {
    cursor: pointer;
}