.form {
    width: 300px;
    height: 240px;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    padding: 50px 35px;
}

.form-title {
    font-size: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
}

.form-fields {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 135px;
}

input {
    border: 1px solid  #ccc;
    border-radius: 6px;
    height: 35px;
    width: 180px;
    font-size: 18px;
    padding: 2px;
    background-color: rgb(232, 240, 254);
}

.user-field {
    display: block;
}

.password-field {
    display: block;
}

.left-side {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.right-side {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-buttons{

}

button {
    margin: 30px 10px 10px 10px;
    margin-top: 10px; 
    width: 280px;
    height: 45px;
    background-color: rgb(76, 128, 218);
    border: 1px solid rgb(57, 113, 211);
    border-radius: 7px;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: rgb(26, 91, 204);
    cursor: pointer;
}