.solicitacao {
    width: 600px;
    height: 520px;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    display: block;
}

.form-solicitacao {
    width: 530px;
    height: 400px;
    margin: auto;
    border: 0px solid rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    display: block;
}

.form-title-solicitacao {
    padding: 40px 35px;
    width: 400px;
    height: 10px;
    font-size: 32px;
}

.input-solicitacao {
    border: 1px solid  #ccc;
    border-radius: 6px;
    height: 35px;
    width: 380px;
    font-size: 18px;
    padding: 2px;
    background-color: rgb(248, 251, 255);
}

.form-fields-solicitacao {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;   
}

.end-solicitacao {
    margin-top: auto;
    width: 530px;
    height: 300px;
    display: block;
}

.button-solicitacao {
    margin: 15px 100px 0px 110px;
    display: block;
}
