th {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

td {
    font-size: 20px;
    padding: 10px;        
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

table {
    margin-top: 10px;
}
